{#
/**
 * @file
 * Theme implementation for the IP restrict of user block.
 *
 * Variables:
 * - image: A variable containing the image path.
 * - title: The title of block.
 * - desc: A variable containing the description of block..
 *
 * @ingroup themeable
 */
#}
<div>    
    <div class="tool_box">
        <div class = "tool_image"><img src = "{{ image }}"/></div>
        <div class="tool-desc">
            <div class = "tool_title">{{ title }}</div>
            <div class="tool_detail"><p>{{ desc }}</p></div>
        </div>
    </div>
</div>